@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafdff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  @apply w-[240px] sm:w-[400px] md:w-[500px] lg:w-[540px] h-[45px] rounded-full bg-white ;
}
.nav__links{
  @apply text-gray-500 flex justify-between  p-2 pl-6 pr-6
}
.title {
  @apply flex text-6xl justify-center font-extrabold pt-4;
  -webkit-text-stroke: 1px #000000;  /* Outline color */
  color: transparent;               /* Make the text itself transparent */
}

.hero__secondary {
  @apply bg-lime-200 w-full h-[500px]
}
.car__image {
  @apply object-contain pt-56
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
